* {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
}

.navBar {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 12px rgb(0 0 0 / 0.2);
    ;
}

.navBar ul {
    float: right;
    display: flex;
    margin: 0 0 0 50px;
    height: 85px;
    width: 35%;
}

.navBar ul li {
    list-style: none;
    height: 48px;
    cursor: pointer;
    margin: 15px 0 0 75px;
    font-family: 'montserrat', sans-serif;
}

.navBar ul li img {
    width: 3rem;
    height: 3rem;
}

.navBar>img:nth-child(1) {
    margin-left: 15px;
    margin-top: 8px;
    width: 5rem;
    height: 5rem;

}

/* .navBar>img:nth-child(3) {
    width: 3rem;
    height: 3rem;
} */
.right {
    display: flex;
    height: 48px;
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.right img {
    width: 3rem;
    height: 3rem;
}

#member {
    padding: 0 0 0 30px;
}

span {
    font-family: 'montserrat', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    padding: 2% 2%;
    box-sizing: border-box;
    height: 100vh;
}
.image_box{
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0px 0px 0px #ccc;
}
.image_box img{
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 1.5s;
}
.image_box span{
    font-size: 3vh;
    display: block;
    position: relative;
    top: 40px;
    left: 10px;
    color: antiquewhite;
}
.image_box:hover{
    flex: 1 1 50%;
}
.image_box:hover img{
    width: 100%;
}